<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

		<menuitem name="menu-party-root" title="Party" icon-background="red" icon="fa fa-angle-double-down" order="1" />

		<!-- Party -->
		<menuitem title="Party" name="menu-gst-party" parent="menu-party-root" action="action-gst-party-views" icon="fa fa-angle-right" order="1" />

		<action-view name="action-gst-party-views" title="Party" model="com.axelor.gst.db.Party">
				<view type="grid" name="gst-party-grid" />
				<view type="form" name="gst-party-form" />
				<view type="cards" name="gst-party-cards" />
		</action-view>

		<!-- Contact -->
		<menuitem title="Contact" name="menu-gst-contact" parent="menu-party-root" action="action-gst-contact-views" icon="fa fa-address-card" order="2" />

		<action-view name="action-gst-contact-views" title="Contact" model="com.axelor.gst.db.Contact">
				<view type="grid" name="gst-contact-grid" />
				<view type="form" name="gst-contact-form" />
		</action-view>

		<menuitem title="Configurations" name="menu-gst-configurations" parent="menu-party-root" icon-background="green" icon="fa fa-cogs" order="3" />

		<!-- Address -->
		<menuitem title="Address" name="menu-gst-address" parent="menu-gst-configurations" icon-background="blue" icon="fa fa-map-marker-alt" action="action-gst-address-views" />
		<action-view name="action-gst-address-views" title="Address" model="com.axelor.gst.db.Address">
				<view type="grid" name="gst-address-grid" />
				<view type="form" name="gst-address-form" />
		</action-view>

		<!-- City -->
		<menuitem title="City" name="menu-gst-city" parent="menu-gst-configurations" icon-background="blue" icon="fa fa-map-marker-alt" action="action-gst-city-views" />
		<action-view name="action-gst-city-views" title="City" model="com.axelor.gst.db.City">
				<view type="grid" name="gst-city-grid" />
				<view type="form" name="gst-city-form" />
		</action-view>

		<!-- State -->
		<menuitem title="State" name="menu-gst-state" parent="menu-gst-configurations" icon-background="blue" icon="fa fa-map-marker-alt" action="action-gst-state-views" />
		<action-view name="action-gst-state-views" title="State" model="com.axelor.gst.db.State">
				<view type="grid" name="gst-state-grid" />
				<view type="form" name="gst-state-form" />
		</action-view>

		<!-- Country -->
		<menuitem title="Country" name="menu-gst-country" parent="menu-gst-configurations" icon-background="blue" icon="fa fa-map-marker-alt" action="action-gst-country-views" />
		<action-view name="action-gst-country-views" title="Country" model="com.axelor.gst.db.Country">
				<view type="grid" name="gst-country-grid" />
				<view type="form" name="gst-country-form" />
		</action-view>

		<!-- Product Menu Starts -->

		<menuitem name="menu-product-root" title="Product" icon-background="blue" icon="fa fa-angle-double-down" order="2" />

		<menuitem title="Product" name="menu-gst-product" parent="menu-product-root" action="action-gst-product-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-product-views" title="Product" model="com.axelor.gst.db.Product">
				<view type="grid" name="gst-product-grid" />
				<view type="form" name="gst-product-form" />
				<view type="cards" name="gst-product-cards" />
		</action-view>

		<!-- Product Category -->
		<menuitem title="Product Category" name="menu-gst-product-category" parent="menu-product-root" action="action-gst-product-category-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-product-category-views" title="Product Category" model="com.axelor.gst.db.ProductCategory">
				<view type="grid" name="gst-product-category-grid" />
				<view type="form" name="gst-product-category-form" />
		</action-view>

		<!-- Invoice -->
		<menuitem name="menu-invoice-root" title="Invoice" icon-background="orange" icon="fa fa-angle-double-down" order="3" />

		<!-- Create -->
		<menuitem title="Create Invoice" name="menu-gst-create-invoice" parent="menu-invoice-root" action="action-gst-invoice-create-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-invoice-create-views" title="Create Invoice" model="com.axelor.gst.db.Invoice">
				<view type="form" name="gst-invoice-form" />
		</action-view>

		<!-- Drafts -->
		<menuitem title="Draft Invoice" name="menu-gst-draft-invoice" parent="menu-invoice-root" action="action-gst-invoice-draft-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-invoice-draft-views" title="Draft Invoice" model="com.axelor.gst.db.Invoice">
				<view type="grid" name="gst-invoice-grid" />
				<view type="form" name="gst-invoice-form" />
				<domain>self.status = :Draft</domain>
				<context name="Draft" expr="Draft" />
		</action-view>

		<!-- Validate -->
		<menuitem title="Validate Invoice" name="menu-gst-validate-invoice" parent="menu-invoice-root" action="action-gst-invoice-validate-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-invoice-validate-views" title="Validate Invoice" model="com.axelor.gst.db.Invoice">
				<view type="grid" name="gst-invoice-grid" />
				<view type="form" name="gst-invoice-form" />
				<domain>self.status = 'Validated'</domain>
		</action-view>

		<!-- Paid -->
		<menuitem title="Paid Invoice" name="menu-gst-paid-invoice" parent="menu-invoice-root" action="action-gst-invoice-paid-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-invoice-paid-views" title="Paid Invoice" model="com.axelor.gst.db.Invoice">
				<view type="grid" name="gst-invoice-grid" />
				<view type="form" name="gst-invoice-form" />
				<domain>self.status = 'Paid'</domain>
		</action-view>

		<!-- Cancelled invocies -->
		<menuitem title="Cancelled Invoice" name="menu-gst-cancelled-invoice" parent="menu-invoice-root" action="action-gst-invoice-cancelled-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-invoice-cancelled-views" title="Cancelled Invoice" model="com.axelor.gst.db.Invoice">
				<view type="grid" name="gst-invoice-grid" />
				<view type="form" name="gst-invoice-form" />
				<domain>self.status = 'Cancelled'</domain>
		</action-view>

		<!-- All invoices -->
		<menuitem title="All Invoice" name="menu-gst-all-invoice" parent="menu-invoice-root" action="action-gst-invoice-all-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-invoice-all-views" title="All Invoice" model="com.axelor.gst.db.Invoice">
				<view type="grid" name="gst-invoice-grid" />
				<view type="form" name="gst-invoice-form" />
				<view type="kanban" name="gst-invoice-kanban" />
				<domain>self.id is not null</domain>
		</action-view>


		<!-- Company -->
		<menuitem name="menu-company-root" title="Company" icon-background="green" icon="fa fa-angle-double-down" order="4" />

		<menuitem title="Company" name="menu-gst-company" parent="menu-company-root" action="action-gst-company-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-company-views" title="Company" model="com.axelor.gst.db.Company">
				<view type="grid" name="gst-company-grid" />
				<view type="form" name="gst-company-form" />
		</action-view>

		<!-- Bank account -->
		<menuitem title="Bank account" name="menu-gst-bank-account" parent="menu-company-root" action="action-gst-bank-account-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-bank-account-views" title="Bank account" model="com.axelor.gst.db.BankAccount">
				<view type="grid" name="gst-bank-account-grid" />
				<view type="form" name="gst-bank-account-form" />
		</action-view>

		<!-- Sequence -->
		<menuitem title="Sequence" name="menu-gst-sequence" parent="menu-company-root" action="action-gst-sequence-views" icon="fa fa-angle-right" />
		<action-view name="action-gst-sequence-views" title="Sequence" model="com.axelor.gst.db.Sequence">
				<view type="grid" name="gst-sequence-grid" />
				<view type="form" name="gst-sequence-form" />
		</action-view>

		<!-- DashBoard -->

		<menuitem name="menu-dashboards" title="Dashboards" icon="fa-dashboard" icon-background="blue" action="gst-dashboard-result" />

		<action-view name="gst-dashboard-result" title="Dashboard!">
				<view type="dashboard" name="result.dashboard" />
		</action-view>
		
		<action-view name="gst-dashboard-grid" title="Grid View" model="com.axelor.gst.db.Invoice">
				<view type="grid" name="gst-invoice-grid"  />
				<domain>self.invoice_date dates :calculatedDate</domain>
				<context name="calculatedDate" expr="call:com.axelor.gst.web.DateCalculation:calculateMonth(dates)"/>
				
		</action-view>
		
		<dashboard name="result.dashboard" title="DashBoards!">
				<dashlet action="chart:chart-gst-result-bar" />
				<dashlet action="chart:chart-gst-paid-productresult-bar" />
				<dashlet action="chart:chart-gst-customer-state-pie" />
				<dashlet action="chart:chart-gst-invoice-status-bar" />
				<dashlet action="chart:chart-gst-invoice-status-line" />
				<dashlet action="gst-dashboard-grid" title="Older  Invoices" ></dashlet>
		</dashboard>

</object-views>